#topnav {
    color: #D1D1D1;
    padding: 30px;
}

body {
    background-color: #252525;
}

ul {
    list-style: none;
    margin: 0;
    padding: 88;
    font-size: 28px; font-family: Helvetica Neue; font-weight: 400;
    padding-top: 60px;
    display: inline-block;
}

li {
    display:inline-block;
    padding: 30px;
    left: -30px;
}

ul li:hover {
    color: #FFA7FB;
}

footer li:hover {
    color: #FFA7FB;
}

#about {
    color: #D1D1D1;
    font-size: 28px; font-family: Helvetica Neue; font-weight: 400;
    padding-top: 60px;
    padding: 60px;
    margin: 0;
}

h1 {
    font-size: 80px;
    padding: 30px;
    width: 50%;
}

p {
    padding: 30px;
    width: 50%;
}


#footer {
    color: #D1D1D1;
    font-size: 28px; font-family: Helvetica Neue; font-weight: 400;
    padding-top: 60px;
    padding: 60px;
    margin: 0;
}

.footerLi {
    padding: 30px;
}

.footerP {
    padding: 30px;
}

#hero {
    position: absolute;
    mix-blend-mode: lighten;
    top: -650px;
    right: -400px;
}